.DS_Store
*~
nohup.out
jetty.log
!.gitkeep
setup/installer/*/log
target
/logs
action-sample/dependency-reduced-pom.xml
setup/installer/NemakiInstaller*
core/src/main/webapp/WEB-INF/classes/custom-nemakiware.properties
core/src/main/webapp/WEB-INF/classes/custom-repositories.yml
.idea
.project
.factorypath